@model IEnumerable<Carrinho.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.IdCarrinho</h1>
<table>
    <thead>
        <th>
            N intens
        </th>
        <th>
            Valor Total
        </th>
    </thead>
    <tbody>
        <tr>
            <td id="nItens">
                0
            </td>
            <td id="valorTotal">
                0
            </td>
        </tr>        

    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="produto@(@item.Id)">
            <td >
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td id="preco@(@item.Id)">
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor.Nome)
            </td>
            <td>
                <input type="number" name="Quantidade" id="Qtd@(@item.Id)" value="1">
            </td>
            <td>
                <a href="#" onclick="addCarrinho(@item.Id, @ViewBag.IdCarrinho);">Comprar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("Finalizar", "FinalizarCompra", "Carrinho", new { id = @ViewBag.IdCarrinho }, new { @class = "btn btn-danger" })
<script type="text/javascript" src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
<script>
    function addCarrinho(idProduto,idCar){
        var url = "@Url.Action("AddCarrinho", "Carrinho")";
        var idInput = "#Qtd".concat(idProduto);
        alert(idInput);
        $.post(url, {id : idProduto, idCarrinho : idCar, qtd : $(idInput).val()}, atualiza);
    }
    function atualiza(resp){
        var nItens = $("#nItens").text();
        var valorTotal = $("#valorTotal").text();
        $("#nItens").html(Number(nItens) + 1);
        alert(resp.preco)
        $("#valorTotal").html(Number(valorTotal) + Number(resp.preco));
    }

</script>